.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.spinner {
  position: relative;
  width: 70px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.spinnerText {
  font-size: 2rem;
  font-weight: 900;
  color: hsl(206, 40%, 16%);
  position: absolute;
  top: -5px;
  left: 20px;
  font-family: "Fontdiner Swanky";
}
