@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&family=Fontdiner+Swanky&family=New+Rocker&family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


ol {
  list-style-type: decimal ;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #eee;
  scroll-behavior: smooth;
}

.navbar-offset {
  margin-top: 10rem;
}

:root {
  --primary-clr: #223c50;
  --link-hover-clr: hsl(16, 100%, 66%);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


/* NAVBAR SECTION */
header h1 {
  margin: 0.6rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  width: 100%;
  background-color: var(--primary-clr);
  color: white;
}

.bg-mybg {
  background-color: hsl(206, 40%, 82%);
}

.bg-myborder {
  border-color: hsl(206, 40%, 82%);
}
.logo {
  font-family: 'Fontdiner Swanky';
}
.nav-toggler {
  display: none;
}
.nav-toggler:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggler:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease 250ms;
}

.nav-toggler-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}

header span,
header
span::before,
header
span::after {
  display: block;
  height: 3px;
  background: white;
  border-radius: 3px;
  position: relative;
  width: 1.5rem;
}
header
span::before,
header
span::after {
  position: absolute;
  content: "";
}
header
span:before {
  top: -7px;
  height: 4px;
}
header
span:after {
  bottom: -7px;
}

header nav {
  background: inherit;
  width: 100%;
  position: absolute;
  text-align: start;
  top: 100%;
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header li {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  transition: 250ms ease;
}

.nav-auth {
  margin-bottom: 1rem;
}

.nav-auth li {
  display: inline;
}

.nav-auth a {
  opacity: 1;
}

header a:hover {
  color: var(--link-hover-clr);
}

.search-bar {
  justify-self: center;
  margin: 1rem auto;
  color: black;
  width: 80%;
  position: relative;
}

.profile-image {
left: -2rem
}

.search-bar input {
  width: 100%;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.2rem;
  padding-right: 1rem;
  border: none;
  background-color: #eee;
  transition: 250ms;
}

.search-bar input:focus, .search-bar input:hover {
  outline: none;
  background-color: white;
}

.search-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: var(--primary-clr);
  transition: 250ms;
}

.search-btn:hover, .search-btn:focus {
  color: var(--link-hover-clr);
}

.my-center {
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .navbar-offset {
    margin-top: 4rem;
  }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr 1fr 2fr 1fr;
    align-items: center;
  }
  header li {
    margin-bottom: 0;
    margin-left: 3rem;
  }
  .nav-toggler-label {
    display: none;
  }
  .logo {
    grid-column: 2 / span 1;
  }
  header nav {
    all: unset;
    grid-column: 3 / span 1;
    display: flex;
    align-items: center;
  }
  header a {
    opacity: 1;
    position: relative;
  }
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-auth {
    grid-column: 5 / span 1;
    margin-bottom: 0;
  }

  .search-bar {
    margin: 0 auto;
  }
  .profile-image {
  left: calc(50% - 4rem)
}
}

.flex-center {
  display: flex;
  justify-content: center;
}

.timestamp-ol a {
  margin-left: 5px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color:#1c7488;
  transition: 400ms;
}

.timestamp-ol a:hover {
  color: var(--link-hover-clr);
}


.link-hover {
  transition: 250ms;
}

.link-hover:hover, .link-hover:focus {
  color: var(--link-hover-clr);
}

.btn-hover-container > * {
  padding: 0.2rem 0.5rem;
  border: 1px solid white;

}
.btn-hover-container > div:hover,
.btn-hover-container > button:hover,
.btn-hover-container > div:focus,
.btn-hover-container > button:focus
{
  border-color: #eee;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.3);
}

.action-btn {
  background-color: hsl(16, 100%, 66%);
  color: white;
  background-origin: content-box;
  transition: 250ms;
}
.action-btn2 {
  background-color: var(--primary-clr);
  color: white;
  transition: 250ms;
}

.action-btn:hover, .action-btn:focus {
  background-color: hsl(16, 100%, 56%);
}
.action-btn:active {
  background-color: hsl(16, 100%, 46%);
}
.action-btn2:hover, .action-btn2:focus {
  background-color: hsl(206, 40%, 16%);
}
.action-btn2:active {
  background-color: hsl(206, 40%, 12%);
}



/* SLIDE TOGGLER */
input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -9000px;
  top: -9000px;
}

input[type="checkbox"].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 4em;
  height: 1em;
  background-color: hsl(0, 80%, 90%);
  border-radius: 1em;
  margin-right: .25em;
  transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "\2715";
  font-size: .5em;
  height: 3.9em;
  left: .2em;
  width: 3.8em;
  height: 3.8em;
  background-color: hsl(16, 100%, 46%);
  color: white;
  border-radius: 1em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:focus + label::before {
  outline: 1px solid black;
}

input[type="checkbox"].toggle:checked + label::before {
  background-color: hsl(100, 70%, 90%);
}

input[type="checkbox"].toggle:checked + label::after {
  content: "\2713";
  transform: translateX(100%);
  background-color: hsl(100, 70%, 60%);
}

input[type="checkbox"].toggle:disabled + label {
  color: #777;
}

input[type="checkbox"].toggle:disabled + label::before {
  background-color: #CCC;
}

input[type="checkbox"].toggle:disabled + label::after {
  background-color: #777;
}