@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&family=Hind+Siliguri&family=Fontdiner+Swanky&family=New+Rocker&family=Saira+Semi+Condensed:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: rgb(34, 60, 80);
  --link-hover-clr: hsl(16, 100%, 66%);
  --primary-bg-clr: hsl(34, 57%, 94%);
}

ol {
  list-style-type: decimal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
  background-color: var(--primary-bg-clr);
  scroll-behavior: smooth;
}

.bg-mybg {
  background-color: hsl(206, 40%, 82%);
}
.profile-image {
  left: -2rem;
}

.bg-myborder {
  border-color: hsl(206, 40%, 82%);
}

.bg-mybg2 {
  background-color: var(--primary-bg-clr);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.profile-image {
  left: calc(50% - 4rem);
}

.my-center {
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.timestamp-ol a {
  margin-left: 5px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #1c7488;
  transition: 400ms;
}

.timestamp-ol a:hover {
  color: var(--link-hover-clr);
}

.link-hover {
  transition: 250ms;
}

.link-hover:hover,
.link-hover:focus {
  color: var(--link-hover-clr);
}

.btn-hover-container > * {
  padding: 0.2rem 0.5rem;
  border: 1px solid white;
}
.btn-hover-container > div:hover,
.btn-hover-container > button:hover,
.btn-hover-container > div:focus,
.btn-hover-container > button:focus {
  border-color: #eee;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.3);
}

.action-btn {
  background-color: hsl(16, 100%, 66%);
  color: white;
  background-origin: content-box;
  transition: 250ms;
}
.action-btn2 {
  background-color: var(--primary-clr);
  color: white;
  transition: 250ms;
}

.action-btn:hover,
.action-btn:focus {
  background-color: hsl(16, 100%, 56%);
}
.action-btn:active {
  background-color: hsl(16, 100%, 46%);
}
.action-btn2:hover,
.action-btn2:focus {
  background-color: hsl(206, 40%, 16%);
}
.action-btn2:active {
  background-color: hsl(206, 40%, 12%);
}

.link-hover:hover {
  color: hsl(16, 100%, 56%);
}

/* SLIDE TOGGLER */
input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -9000px;
  top: -9000px;
}

input[type="checkbox"].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 4em;
  height: 1em;
  background-color: hsl(0, 80%, 90%);
  border-radius: 1em;
  margin-right: 0.25em;
  transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "\2715";
  font-size: 0.5em;
  height: 3.9em;
  left: 0.2em;
  width: 3.8em;
  height: 3.8em;
  background-color: hsl(16, 100%, 46%);
  color: white;
  border-radius: 1em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:focus + label::before {
  outline: 1px solid black;
}

input[type="checkbox"].toggle:checked + label::before {
  background-color: hsl(100, 70%, 90%);
}

input[type="checkbox"].toggle:checked + label::after {
  content: "\2713";
  transform: translateX(100%);
  background-color: hsl(100, 70%, 60%);
}

input[type="checkbox"].toggle:disabled + label {
  color: #777;
}

input[type="checkbox"].toggle:disabled + label::before {
  background-color: #ccc;
}

input[type="checkbox"].toggle:disabled + label::after {
  background-color: #777;
}

.btn-outline {
  transition: 250ms;
  border: 1px solid hsl(16, 100%, 56%);
}

.btn-outline:hover,
.btn-outline:focus {
  background-color: hsl(16, 100%, 56%);
  color: white;
}

.sidenav-hover:hover {
  background-color: hsl(206, 40%, 82%);
  text-decoration: underline;
  color: blue;
}
